<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="Zerex.Modules.Publish.Routings.RouteRegistration, Zerex.Modules.Publish" patch:after="processor[@type='Sitecore.PathAnalyzer.Services.Pipelines.Initialize.WebApiInitializer, Sitecore.PathAnalyzer.Services']" />
      </initialize>
      <!-- Defines the SPEAK JS dependencies -->
      <speak.client.buildMainJS>
        <processor type="Sitecore.Web.Pipelines.BuildMainJs.GetAllFiles, Sitecore.Speak.Client">
          <files hint="raw:AddMainJs">
            <file version="2" path="/sitecore/shell/client/Zerex/Assets/zerex-deps-config.json" />
          </files>
        </processor>
      </speak.client.buildMainJS>

    </pipelines>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="PublishController">Zerex.Modules.Publish.Controllers.PublishController, Zerex.Modules.Publish</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>